.ActorNormal .ActorForm {
  margin-bottom: 1%;
}
.UseCaseNormal .UseCaseForm {
  margin-bottom: 1%;
}
.Navbar {
  position: fixed;
  top: 0px;
}
.EditingArea {
  position: fixed;
  overflow-y: auto;
  top: 64px;
  left: 10px;
  bottom: 10px;
}

.btn {
  margin: 5px;
}
h1 {
  font-weight: 300;
}
h3 {
  font-weight: 300;
}

h2 {
  font-weight: 300;
}

.no_pad_margin {
  padding: 0px;
  margin: 0px;
}
select {
  font-size: 18px;
  color: black;
}
textarea {
  height: 200px;
  resize: vertical;
  font-size: 18px;
}

.whiteText {
  color: white;
} 
